name: Chromatic

on: push

jobs:
  chromatic-canvas-component-core:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --openssl-legacy-provider

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Chromatic (core)
        uses: chromaui/action@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_CANVAS_COMPONENT_CORE }}
          autoAcceptChanges: "main"
          workingDir: "packages/canvas-component"

  chromatic-canvas-component-react:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: --openssl-legacy-provider

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: "**/node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Chromatic (React)
        uses: chromaui/action@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN_CANVAS_COMPONENT_REACT }}
          autoAcceptChanges: "main"
          workingDir: "packages/canvas-component-react"
